
<nav class="navbar bg-light navbar-expand-lg">
  <div class="container-fluid" >
    <a class="navbar-brand col1" href="/">
      <img src="{{brand}}" class="border-50" height="35" width="35" alt="">
      Benie Writes 
          <span class="col2 xsm"><br> <i>"with words, I give my thoughts life."</i></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active font-md-3 brand-font" aria-current="page" href="/"> 
            <span class="welcome"><i class="fa-solid fa-house"></i> Welcome</span>
          </a>
        </li>
      </ul>
      <div>
        <span *ngIf="!isAdmin">
          <a class="col1 nav-link active font-md-3 brand-font" aria-current="page" href="/about">About</a>
        </span>
        <span *ngIf="isAdmin">
          <a class="col1 nav-link active font-md-3 brand-font" aria-current="page" type="button" (click)="logout()">Logout</a>
        </span>
      </div>
    </div>
  </div>
</nav>
