<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
            <form #chapterForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="addItem(chapterForm.value)" id="chapterForm">
              <h2>Add Chapter</h2>  <br>
              <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" name="title" #title="ngModel" ngModel required>
                    <mat-error *ngIf="title.hasError('required') || title.pristine">
                        Title is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                 
                
            <br>

                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>First published </mat-label>
                      <input matInput type="date" name="first_published" #first_published="ngModel" ngModel required>
                      <mat-error *ngIf="first_published.hasError('required') || first_published.pristine">
                        This field is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>


                  <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Story</mat-label>
                    <mat-select name="story" ngModel #story="ngModel" required>
                        <mat-option *ngFor="let s of stories" value="{{s.id}}" name="story" ngModel #story="ngModel" type="number">{{s.title}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="story.hasError('required') || story.pristine">
                        This field is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>&nbsp;&nbsp;<button mat-raised-button color="accent" type="button" (click)="openDialog()"><i class="fa-solid fa-plus"></i></button>
                  
               
                  
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="chapterForm.invalid" (click)="reload()">Save</button> &nbsp;&nbsp; <button type="submit" (click)="reset();" style="margin-top:1%;" mat-flat-button color="accent" [disabled]="chapterForm.invalid">Save and add another</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>