<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
            <form #editNotificationForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="editItem(editNotificationForm.value)" id="editNotificationForm">
              <h2>Edit Notification <span class="text-success"><i class="fa-solid fa-hashtag"></i> {{details.id}}</span> Details </h2>  
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Subject </mat-label>
                  <input matInput type="text" name="subject"  #subject="ngModel" [(ngModel)]="details.subject" ngModel required>
                  <mat-error *ngIf="subject.hasError('required') || subject.pristine">
                    Subject is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Message </mat-label>
                  <textarea matInput type="text" name="message"  #message="ngModel" [(ngModel)]="details.message" ngModel required></textarea>
                  <mat-error *ngIf="message.hasError('required') || message.pristine">
                    Message is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Story/Chapter Link </mat-label>
                  <input matInput type="url" name="link"  #link="ngModel" ngModel required [(ngModel)]="details.link">
                  <mat-error *ngIf="link.hasError('required') || link.pristine">
                    Link is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Cover URL </mat-label>
                  <input matInput type="url" name="img"  #img="ngModel" ngModel [(ngModel)]="details.img" required>
                  <mat-error *ngIf="img.hasError('required') || img.pristine">
                    Cover URL is <strong>required</strong>
                  </mat-error>
              </mat-form-field>

             


              
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" >Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"   (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>