<footer class="col2 bg-light text-center" id="footer">
    <h3>
        <span>
            <a href="https://github.com/benie254" target="_blank"><i class="fa-brands fa-square-github"></i></a> 
            &nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="https://www.linkedin.com/in/benson-langat-fullstack-developer/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <i class="fa-brands fa-creative-commons"></i> &nbsp;<a class="col2" routerLink="/about">Benson Langat</a> &nbsp;&nbsp;<i class="fa-solid fa-copyright"></i>&nbsp;&nbsp; 2023 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <span>
            <a href="https://twitter.com/benie_langat" target="_blank"><i class="fa-brands fa-square-twitter"></i></a> 
            &nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="https://www.facebook.com/benie.davinci/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        </span>
    </h3>
</footer>