<app-navbar></app-navbar>
<div class="container-fluid padding-xxl">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="padding-xxl">
                <h1 class="text-center">
                    <span class="xxl"><h1>Where Stories Live</h1></span> 
                                <small>A blend of everything you love.</small>
                            <small class="col2">
                                <br>
                                <i>with a beautiful reader mode</i>
                            </small>
                </h1>
                <img src="{{storiesImg}}" class="storiesImg max-width" alt="">
                <button mat-raised-button color="primary" class="w-100" routerLink="/stories">Go to Stories</button>
            </div>
            <br><br>
        </div>
        <div class="col-lg-4">
            <div class="shadow padding-xxl">
                <h1 class="text-center">
                    <span class="xxl"><h1>The Poetry Hub</h1></span> 
                  
                            <small>A dive into the depth of the soul.</small>
                       
                    <small class="col2">
                        <br>
                        <small><i>every week!</i></small>
                    </small>
                </h1>
                <img src="{{poetryImg}}" class="storiesImg max-width" alt="">
                <button mat-raised-button color="primary" class="w-100" routerLink="/poems">Go to Poetry</button>
            </div>
            <br><br>
        </div>
        <div class="col-lg-4">
            <div class="padding-xxl">
                <h1 class="text-center">
                    <span class="xxl"><h1>Open Discussions</h1></span> 
                        <small>
                                & stuff you can't miss.
                        </small>
                    <small class="col2">
                        <br>
                        <small><i>every week!</i></small>
                    </small> 
                </h1>
                <img src="{{discussionImg}}" id="discussImg" class="max-width" alt="">
                <button mat-raised-button color="primary" class="w-100" routerLink="/discussions">Go to Discussions</button>
            </div>
        </div>
    </div>
    <br><br>
    <app-footer></app-footer>
</div>
