<app-navbar [user]="user" [isAdmin]="isAdmin" [logout]="logout"></app-navbar>
<div class="container-fluid" id="adminCont">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Stories">
            
                <br>
                <app-all-stories></app-all-stories>
        </mat-tab>
        <mat-tab label="Poems">
                <br>
                <app-all-poems></app-all-poems>
        </mat-tab>
        <mat-tab label="Chapters">
                <br>
                <app-all-chapters></app-all-chapters>
        </mat-tab>
        <mat-tab label="Pages">
            <br>
            <app-all-pages></app-all-pages>
    </mat-tab>
        <mat-tab label="Feedbacks">
                <br>
                <app-all-feedbacks></app-all-feedbacks>
        </mat-tab>
        <mat-tab label="Reactions">
                <br>
                <app-all-reactions></app-all-reactions>
        </mat-tab>
        <mat-tab label="Tags">
                <br>
                <app-all-tags></app-all-tags>
        </mat-tab>
        
        <mat-tab label="Notifications">
                <br>
                <app-all-notifications></app-all-notifications>
        </mat-tab>
        <mat-tab label="Contacts">
                <br>
                <app-all-contacts></app-all-contacts>
        </mat-tab>
        <mat-tab label="Subscribers">
                <br>
                <app-all-subscribers></app-all-subscribers>
        </mat-tab>
    </mat-tab-group>

   
    <br><br><br>

</div>


