<div class="container text-center">
    <mat-list style="padding:2.5%;">
        <mat-list-item>
            <a style="width:100%;" type="button" (click)="myLink()"><button class="w-100" mat-flat-button color="primary"><i class="fa-regular fa-copy"></i> <span mat-line>Copy Link</span>
               </button>
            </a>
            
        </mat-list-item>
        <br><br>
        <mat-list-item>
            <a style="width:100%;"  href="https://www.facebook.com/sharer/sharer.php?u={{currentSite}}" target="_blank" rel="noopener"><button class="w-100" mat-flat-button color="primary"><i class="fa-brands fa-facebook-f"></i> <span mat-line>Facebook Feed</span>
                </button>
            </a>
            
        </mat-list-item>
        <br><br>
        <mat-list-item>
            <a style="width:100%;" href="https://twitter.com/share?text={{currentSite}} - Benie Writes- with words, I give my thoughts life." target="_blank" rel="noopener"><button class="w-100" mat-flat-button color="primary"><i class="fa-brands fa-twitter"></i>
                <span mat-line>Twitter Feed</span>
            </button></a>
        </mat-list-item>
        <br><br>
        <mat-list-item>
            <a style="width:100%;" href="whatsapp://send?text={{currentSite}} - Benie Writes- with words, I give my thoughts life." data-action="share/whatsapp/share" target="_blank"><button class="w-100" mat-flat-button color="primary"><i class="fa-brands fa-whatsapp"></i>
                <span mat-line>WhatsApp Status</span>
            </button></a> 
        </mat-list-item>
        <br>
    </mat-list>
</div>