
<footer class="col2 text-center" id="footer">
    <h3 class="footer">
        
        <span>
            <a href="https://twitter.com/benie_langat" target="_blank"><i class="fa-brands fa-square-twitter"></i></a> 
            &nbsp;
            <a href="https://www.facebook.com/benie.davinci/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            &nbsp;
        </span>
        <span>
            <a href="https://github.com/benie254" target="_blank"><i class="fa-brands fa-square-github"></i></a> 
            &nbsp;
            <a href="https://www.linkedin.com/in/benson-langat-fullstack-developer/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </span>
        <br>
        <span style="font-size:12px;">2023 | All rights reserved <i class="fa-solid fa-copyright"></i> <a class="col2" routerLink="/about">Benson Langat</a>  </span>

        
    </h3>
</footer>