<div class="container-fluid" style="height:auto;min-height:100vh;padding:1.5%;" id="readSBg">
  <span (click)="back()" type="button"><i class="fa-solid fa-chevron-left"></i> Go Back</span> &nbsp;&nbsp;&nbsp;
<span>
  <span><button mat-stroked-button><mat-slide-toggle (click)="changeBg($event)" style="color:blueviolet;">Light<i class="fa-solid fa-arrows-left-right"></i>Dark</mat-slide-toggle></button></span> <span style="float:right;color:blueviolet;"><button mat-stroked-button color="primary" (click)="openBottomSheet()"><i class="fa-solid fa-share-nodes"></i> Share</button></span>
</span>    
  <div class="row">
      <div class="col-md-1">
          <br><br>
      </div>
      <div class="col-md-8">
        <!-- <div *ngIf="!chapSelected">
            <a *ngFor="let c of chaps" type="button" (click)="copy(c.id);selectChap()" style="margin:2.5%;padding:1.5%;">{{c.title}}</a>
        </div> -->
        <div>
          <div   >
            
              <!-- <h1 id="chapId">{{c.id}}</h1> -->
                    
                    <div>
                      <div >
                          <!-- <button *ngFor="let c of chaps" style="margin:1.5%;padding:1.5%;" mat-raised-button color="accent" routerLink="/read/story/chapter/{{c.id}}">{{c.title}}</button> -->
                        </div>
                    </div>
                   
                    
                    <div>
                      
                      <mat-stepper class="shadow container" id="sContent" style="padding:2.5%;height:auto;font-size:large;font-family:'Courier New', Courier, monospace;line-height: 1.5em;">
                        <mat-step state="book" labelPosition="bottom" #stepper>
                          <div *ngFor="let p of chapterPages | paginate: { id:'readPage', itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                              <h1 class="text-center" style="font-family:'Courier New', Courier, monospace;font-size:xx-large;font-weight:bolder">{{chapDet.title}} <br><span><h5><i class="fa-regular fa-file"></i> {{chapterPages.length}} pages &nbsp;&nbsp;&nbsp; <i class="fa-regular fa-clock"></i> {{readTime}} min read</h5></span></h1>
                            <div [innerHTML]="p.description"></div>
                          </div>
                          <div class="d-flex justify-content-center">
                            <pagination-controls
                              id="readPage"
                              previousLabel="Prev"
                              nextLabel="Next"
                              (pageChange)="onTableDataChange($event)"
                            >
                            </pagination-controls>
                    </div>
                    <hr>
                          
                          <div>
                            <button mat-stroked-button matStepperPrevious>Prev Chapter</button>
                            <button mat-stroked-button color="primary" matStepperNext>Next Chapter</button> <span style="float:right"><button mat-stroked-button color="primary" (click)="openBottomSheet()"><i class="fa-solid fa-share-nodes"></i> Share</button></span> 
                            
                          </div>
                          
                          
                          
                        </mat-step>
                        <mat-step state="book">
                          <ng-template matStepLabel><span style="color:blueviolet;">End</span></ng-template>
                          <ng-template matStepContent>
                            <p>Enjoying this story? Drop your feedback below.</p>
                            <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-sm-2">
                                <form style="margin-top:1.5%;" #likeForm="ngForm" (ngSubmit)="(likeStory(likeForm.value))">
                                        
                                  <input type="text" name="like" ngModel style="display:none;" [(ngModel)]="liked">
                                  <input type="number" name="story" ngModel style="display:none;" [(ngModel)]="story.id">
                                  <button mat-raised-button color="accent" type="submit"><i class="fa-regular fa-star"></i> Vote <span style="font-size:x-small;">{{storyLikes.length}} votes</span></button> 
                                 </form> 
                              </div>
                              <div class="col-sm-8">
                                <form style="margin-top:1.5%;" #commentForm="ngForm" (ngSubmit)="commentStory(commentForm.value)" (mouseover)="onKey($event)" (keydown)="onKey($event)" (keypress)="onKey($event)" (keyup)="onKey($event)">
                                  <mat-form-field>
                                      <mat-label class="bg-light" color="accent">Comment</mat-label>
                                      <input type="number" name="story" ngModel style="display:none;" [(ngModel)]="story.id">
                                      <input type="text" matInput ngModel name="comment">
                                  </mat-form-field>
                                  &nbsp;
                                      <mat-form-field *ngIf="!noInput">
                                          <mat-label class="bg-light" color="accent">Name</mat-label>
                                          <input name="commented_by" matInput ngModel type="text">
                                      </mat-form-field>
                                  &nbsp;<button mat-raised-button color="accent" *ngIf="!noInput" type="submit">Add <i class="fa-regular fa-comment"></i></button>
                              </form>
                              </div>
                            </div>
                            <br>
                            
                          <div>
                            <button mat-stroked-button matStepperPrevious>Prev Chapter</button>  <span style="float:right"><button mat-stroked-button color="primary" (click)="openBottomSheet()"><i class="fa-solid fa-share-nodes"></i> Share</button></span>
                          </div>
                          <br>
                          <div *ngIf="chaps">
                            <h2 class="text-center">{{chaps.length}} chapters</h2>
                            <button style="padding:0.5%;margin:1%;" *ngFor="let c of chaps" mat-raised-button color="accent" (click)="copy(c.id);">{{c.title}}</button>
                          </div>
                          </ng-template>
                          </mat-step>
                          <ng-template matStepperIcon="book">
                            <mat-icon><i class="fa-solid fa-book-open-reader"></i></mat-icon>
                          </ng-template>
                          
                          </mat-stepper>
                      <!-- <app-story-pages [story]="story" [chapDet]="chapDet"></app-story-pages> -->
                    </div>
                
                    
                  
                
                
              
             
                  
              
          
          
        </div>
        </div>
          
          <br>
          
      </div>
      <div class="col-md-3">
          <div class="shadow" style="padding:1.5%;">
              <br>
              <small>
                  <h4>{{story.title}} <br> 
                      <span><small><span><i class="fa-regular fa-star"></i> {{storyLikes.length}}</span> &nbsp;&nbsp; <span><i class="fa-regular fa-comment"></i> {{storyComments.length}}</span>  &nbsp;&nbsp; <span><i class="fa-solid fa-layer-group"></i> {{chaps.length}}</span> &nbsp;&nbsp; <span *ngIf="story.status == 'ongoing'"><i><i class="fa-solid fa-spinner"></i> {{story.status}}</i></span> <span *ngIf="story.status == 'completed'"><i><i class="fa-regular fa-circle-check"></i> {{story.status}}</i></span></small></span>
                  </h4>
                  <p>{{story.description}}</p>
                  <span>
                      <mat-chip-list aria-label="Categories">
                          <mat-chip color="primary" selected>{{story.category}}</mat-chip>
                        </mat-chip-list>
                        <!-- <mat-chip-list aria-label="Tags">
                          <mat-chip color="primary" selected>Mystery</mat-chip>
                          <mat-chip color="primary" selected>Thriller</mat-chip>
                          <mat-chip color="primary" selected>Love</mat-chip>
                          <mat-chip color="primary" selected>Life</mat-chip>
                        </mat-chip-list> -->
                        
              </span>
              <br>
              <p><span><img src="https://res.cloudinary.com/benie/image/upload/v1667972682/h02js8etvetdr5ctbmtf.jpg" height="35" width="35" style="border-radius:50%;" alt=""></span> By {{story.author}} &nbsp;&nbsp;|&nbsp;&nbsp; <span>First published {{story.first_published | date}}</span></p>

              </small>
        
      <hr>
      <small>
          <span *ngIf="storyComments">
              <span> Latest Comments ({{topComments.length}} of {{storyComments.length}})</span><br>
              <span>
                  <p *ngFor="let tc of topComments" class="shadow" style="font-size:small;margin:1.5%;padding:1.5%;"><span style="font-size:smaller;">{{tc.date | dateAgo}} &nbsp;&nbsp; | &nbsp;&nbsp; <i class="fa-regular fa-circle-user"></i> <span *ngIf="tc.commented_by">&nbsp;{{tc.commented_by}}</span><span *ngIf="!tc.commented_by">&nbsp;Anonymous</span> </span> <br> <span *ngIf="tc.comment">{{tc.comment}}</span><span *ngIf="!tc.comment">Beautiful story!</span> </p>
              </span>
          </span>
          <span *ngIf="!storyComments">
            <span> Comments</span><br>
            <span>
              <p class="shadow" style="font-size:smaller;margin:1.5%;padding:1.5%;"><span style="font-size:xx-small;">12/15/2022 &nbsp;&nbsp; | &nbsp;&nbsp; <i class="fa-regular fa-circle-user"></i> Anonymous</span> <br> Latest comments will appear here.</p>
            </span>
        </span>
      </small>
      <hr>
      <img src="{{story.cover}}" style="max-height:100%;max-width:100%;" alt="" priority>
          </div>
      
      </div>
  </div>
  <br><br>

</div>



     