<span class="sticky-top bg-light">
    <span (click)="back()" type="button" class="btn btn-sm col1"><i class="fa-solid fa-chevron-left"></i> Go Back</span> 
    &nbsp;&nbsp;&nbsp;
</span>
<div class="container padding-lg">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
            <h1 class="col1">Howdy!</h1>
            <h2>You just discovered a module that is under development.</h2>
            <p>Benie is working tirelessly on getting this section of Benie Writes up and running.</p>
            <h3 class="col1">But since you're here...</h3>
            <p>Why don't you 
                <a type="button" (click)="followBottomSheet()" class="col1">sign up for Benie's monthly newsletter.</a>
            </p>
            <small><i>We'll make sure you never miss a post and guarantee no spam.</i></small>
        </div>
        <img src="{{img}}" id="img" alt="">    
    </div>
</div>
<app-story-footer></app-story-footer>