<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
            <form #storyForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="addStory(storyForm.value)" id="storyForm">
              <h2>Add Story</h2>  <br>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Author </mat-label>
                  <input matInput type="text" name="author" #author="ngModel" ngModel required>
                  <mat-error *ngIf="author.hasError('required') || author.pristine">
                    Author is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Genre</mat-label>
                    
                    <mat-select name="genre" ngModel #genre="ngModel" required>
                      <mat-option value="drama" name="genre" ngModel #genre="ngModel" type="text">Drama</mat-option>
                      <mat-option value="mystery" name="genre" ngModel #genre="ngModel" type="text">Mystery</mat-option>
                      <mat-option value="mystery-thriller" name="genre" ngModel #genre="ngModel" type="text">Mystery/Thriller</mat-option>
                      <mat-option value="thriller" name="genre" ngModel #genre="ngModel" type="text">Thriller</mat-option>
                      <mat-option value="teen-fiction" name="genre" ngModel #genre="ngModel" type="text">Teen Fiction</mat-option>
                    </mat-select>
                    <mat-error *ngIf="genre.hasError('required') || genre.pristine">
                        Genre is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Category</mat-label>
                    
                    <mat-select name="category" ngModel #category="ngModel" required>
                      <mat-option value="short-story" name="category" ngModel #category="ngModel" type="text">Short Story</mat-option>
                      <mat-option value="flash-fiction" name="category" ngModel #category="ngModel" type="text">Flash Fiction</mat-option>
                      <mat-option value="novelette" name="category" ngModel #category="ngModel" type="text">Novelette</mat-option>
                      <mat-option value="novel" name="category" ngModel #category="ngModel" type="text">Novel</mat-option>
                      <mat-option value="play" name="category" ngModel #category="ngModel" type="text">Play</mat-option>
                    </mat-select>
                    <mat-error *ngIf="category.hasError('required') || category.pristine">
                        Category is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Status</mat-label>
                    
                    <mat-select name="status" ngModel #status="ngModel" required>
                      <mat-option value="ongoing" name="status" ngModel #status="ngModel" type="text">Ongoing</mat-option>
                      <mat-option value="completed" name="status" ngModel #status="ngModel" type="text">Completed</mat-option>
                    </mat-select>
                    <mat-error *ngIf="status.hasError('required') || status.pristine">
                        Status is <strong>required</strong>
                    </mat-error>
                  </mat-form-field><br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Pin</mat-label>
                    
                    <mat-select name="pin" ngModel #pin="ngModel" required>
                      <mat-option value="pinned" name="pin" ngModel #pin="ngModel" type="text">Pinned</mat-option>
                      <mat-option value="unpinned" name="pin" ngModel #pin="ngModel" type="text">Unpinned</mat-option>
                    </mat-select>
                    <mat-error *ngIf="pin.hasError('required') || pin.pristine">
                        Pin is <strong>required</strong>
                    </mat-error>
                  </mat-form-field><br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Title </mat-label>
                      <input matInput type="text" name="title" #title="ngModel" ngModel required>
                      <mat-error *ngIf="title.hasError('required') || title.pristine">
                        Title is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                  <br>
                    <mat-label>Cover </mat-label>
                      <input type="url" name="cover" #cover="ngModel" ngModel required>
                      
                      <mat-error *ngIf="cover.hasError('required') || cover.pristine">
                        Cover is <strong>required</strong>
                      </mat-error>

                  <br>
                
                <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Description </mat-label>
                      <textarea matInput type="text" name="description" #description="ngModel" ngModel required></textarea>
                      <mat-error *ngIf="description.hasError('required') || description.pristine">
                        Description is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>First published </mat-label>
                      <input matInput type="date" name="first_published" #first_published="ngModel" ngModel required>
                      <mat-error *ngIf="first_published.hasError('required') || first_published.pristine">
                        This field is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>


                  <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Tags</mat-label>
                    <mat-chip-list #allTags aria-label="Tag selection">
                      <mat-chip *ngFor="let t of tags" (removed)="remove(t)">
                        {{t.name}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      <input placeholder="New tag..."
                             [matChipInputFor]="allTags"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
                  
               
                  
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="storyForm.invalid" (click)="reload()" *ngIf="!dialogOp">Save</button> <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="storyForm.invalid" (click)="onNoClick()" *ngIf="dialogOp">Save</button> &nbsp;&nbsp; <button type="submit" (click)="reset();" style="margin-top:1%;" mat-flat-button color="accent" [disabled]="storyForm.invalid">Save and add another</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>