
<nav  class="navbar navbar-expand-lg">
    <div class="container-fluid" >
      <a class="navbar-brand" routerLink="/stories">
        <img src="https://res.cloudinary.com/benie/image/upload/v1671555324/h02js8etvetdr5ctbmtf-removebg-preview_wge6nt.png" height="25" width="25" style="border-radius:50%;" alt="">
        <span class="brand-font font-md-2" style="color:blueviolet">The Stories Lib</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="col1 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="col1 dropdown-item" routerLink="/stories/related/category/short-story" (click)="reload()">Short Stories</a></li>
              <li><a class="col1 dropdown-item" routerLink="/stories/related/category/flash-fiction" (click)="reload()">Flash Fiction</a></li>
              <li><a class="col1 dropdown-item" routerLink="/stories/related/category/novelette" (click)="reload()">Novelettes</a></li>
              <li><a class="col1 dropdown-item" routerLink="/stories/related/category/novel" (click)="reload()">Novels</a></li>
              <li><a class="col1 dropdown-item" routerLink="/stories/related/category/play" (click)="reload()">Plays</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="col1 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu">
              <li><a class="col1 dropdown-item" routerLink="/stories/related/genre/mystery" (click)="reload()">Mystery</a></li>
                      <li><a class="col1 dropdown-item" routerLink="/stories/related/genre/thriller" (click)="reload()">Thriller</a></li>
                      <li><a class="col1 dropdown-item" routerLink="/stories/related/genre/mystery-thriller" (click)="reload()">Mystery/Thriller</a></li>
                      <li><a class="col1 dropdown-item" routerLink="/stories/related/genre/young-adult" (click)="reload()">Young Adult</a></li>
                      <li><a class="col1 dropdown-item" routerLink="/stories/related/genre/teen-fiction" (click)="reload()">Teen Fiction</a></li>
                      <li><a class="col1 dropdown-item" routerLink="/stories/related/genre/romance" (click)="reload()">Romance</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color:orange" class="nav-link active font-md-3 brand-font" aria-current="page" href="/"> <i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="col1 nav-link dropdown-toggle" routerLink="/stories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Go to
            </a>
            <ul class="dropdown-menu">
              <li><a class="col1 dropdown-item" routerLink="/poems">Poems</a></li>
              <li><a class="col1 dropdown-item" routerLink="/discussions">Discussions</a></li>
            </ul>
          </li>
        </ul>
        <div>
          <span>
                <a class="col1 nav-link active font-md-3 brand-font" aria-current="page" routerLink="/stories/library"> <i class="fa-solid fa-magnifying-glass"></i> Search </a>
          </span>
          
          </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid padding-xl">
    <div class="container-fluid" *ngFor="let s of searchResults">
        <div class="row g-0" *ngIf="s.pin === 'pinned'">
            <div class="col-lg-2">
                <br>
                <mat-chip-list>
                    <mat-chip routerLink="/stories/related/category/{{s.category}}" color="accent">{{s.category}}</mat-chip>
                    <mat-chip routerLink="/stories/related/genre/{{s.genre}}" selected color="accent">{{s.genre}}</mat-chip>
                </mat-chip-list>
            </div>
            <div class="col-lg-10">
                <div class="text-center">
                    <span><small class="text-muted"><i class="fa-solid fa-thumbtack"></i> pinned</small></span>
                </div>
                <div class="card mb-3 featCard">
                    <div class="text-center" >
                      
                      
                      <h1 class="card-title text-center">
                        <a routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}"><img class="img-fluid rounded-start shadow featImg float-left" src="{{s.cover}}"  alt="" priority></a>
                        <span class="col1" style="font-size:xx-large"><a routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}"><br>
                          {{s.title}}</a></span>
                        <br>
                        <span class="col2" style="font-size:smaller;">
                            <h4>
                                <span><span><i class="fa-regular fa-star"></i> {{s.likes}} </span> &nbsp;&nbsp; <span><i class="fa-regular fa-comment"></i> {{s.comments}} </span> &nbsp;&nbsp; <span> <i class="fa-solid fa-layer-group"></i> {{s.chaps}} </span> &nbsp;&nbsp; <span><i class="fa-solid fa-spinner"></i> <a routerLink="/stories/related/status/{{s.status}}" class="col2">{{s.status}}</a> </span>
                            </span>
                        </h4>
                        </span>
                    </h1>
                      <div class="card-body">
                        <br>
                        <p>{{s.description}}</p>
                       <br>
                        <span>
                          <button mat-flat-button color="accent" class="w-50" routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}">Read</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <br>
      
 </div>
 <div class="container-fluid shadow padding-xxl" style="background-color: white;">
  <div class="row" *ngIf="completed">
      <h1 class="text-center col1">Completed Stories</h1>
      <div class="col-md-6" *ngFor="let s of topCom">
          <div class="row g-0 mb-3 text-center">
              <div class="col-lg-1"></div>
              <div class="col-lg-3">
                <a routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}"><img class="img-fluid rounded-start shadow feat float-left zoom" src="{{s.cover}}" alt=""></a>
              </div>
              <div class="col-lg-6" style="text-align:left;">
                  <h2><a routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}">{{s.title}}</a></h2>
                  <p>{{s.description | truncate: [150, '...']}}</p>
                 <small><i class="col2"><span>a</span>&nbsp;<a routerLink="/stories/related/genre/{{s.genre}}" class="col2">{{s.genre}}</a> &nbsp; <a routerLink="/stories/related/category/{{s.category}}" class="col2">{{s.category}}</a></i></small>
              </div>
              <div class="col-lg-2"></div>
          </div>
          <br>
      </div>
      <hr>
  </div>
  <br>
  <div class="row" *ngIf="ongoing">
      <h1 class="text-center col1">Ongoing Stories</h1>
      <div class="col-md-6" *ngFor="let s of topOn">
          <div class="row g-0 mb-3 text-center">
              <div class="col-lg-1"></div>
              <div class="col-lg-3">
                <a routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}"><img class="img-fluid rounded-start shadow feat float-left zoom" src="{{s.cover}}"  alt="" priority></a>
              </div>
              <div class="col-lg-6" style="text-align:left;">
                  <h2><a routerLink="/stories/{{s.category}}/{{s.title}}/preview/{{s.id}}">{{s.title}}</a></h2>
                  <p>{{s.description | truncate: [150, '...']}}</p>
                 <small><i class="col2"><span>a</span>&nbsp;<a routerLink="/stories/related/genre/{{s.genre}}" class="col2">{{s.genre}}</a> &nbsp; <a routerLink="/stories/related/category/{{s.category}}" class="col2">{{s.category}}</a></i></small>
              </div>
              <div class="col-lg-2"></div>
          </div>
      </div>
  </div>
  <br>
  <div class="text-center">
    <h1 class="col1" *ngIf="!searchResults.length">No Stories Uploaded Yet</h1>
    <button *ngIf="searchResults.length" mat-raised-button color="accent" class="w-15" routerLink="/stories/library"><i class="fa-solid fa-book"></i> Library <span><small style="font-size:small;" class="col1 bolder">{{searchResults.length}} stories</small></span></button>
  </div>
</div>
<br><br>
<app-story-footer></app-story-footer>