<div class="row">
    <div class="col-lg-6 text-center">
        <div id="search" style="padding:1.5%;">
            <form class="form" role="search" id="searchForm">
                <mat-form-field appearance="fill" class="padding-2 full-width">
                    <mat-label class="text-primary">Search Poems By Date</mat-label>
                    <input matInput type="date" (keydown)="onSearch($event)" (keypress)="onSearch($event)" (keyup)="onSearch($event)" (mousedown)="onSearch($event)" (mouseenter)="onSearch($event)" (mousemove)="onSearch($event)" (mouseout)="onSearch($event)" (mouseup)="onSearch($event)" (mousewheel)="onSearch($event)" (touch)="onSearch($event)" (touched)="onSearch($event)" (hover)="onSearch($event)" placeholder="Select date" aria-label="Search" required>
                    <mat-icon matSuffix>date</mat-icon>
                  </mat-form-field>
                <div>
                    <div *ngIf="pValues">
                        <p class="bold">{{pValues | date: 'fullDate'}}&nbsp; <span><button class="margin" mat-raised-button color="primary" type="button" (click)="search($event.value);unClear()" [disabled]="!pValues"><i class="fa-solid fa-magnifying-glass"></i> </button></span></p>
                      </div>
                </div>
              </form>

                <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
                    <span class="sr-only"> Searching; please wait... </span>
                </div>
                <div *ngIf="empty">
                    <h4>Sorry, we found no poems posted on <small>{{pValues | date: 'fullDate'}}</small></h4>
                </div>
                
                <div class="container padding">
                    <div *ngIf="foundPoems">
                        <div>
                            <div *ngIf="!empty">
                                <div class="card-body">
                                    <h4 class="card-title text-center"> 
                                        <i class="fa-regular fa-file-lines"></i>  We found the following poems for {{pValues}}
                                    </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
    </div>
    <div class="col-lg-6 text-center">
        <div id="filter" style="padding:1%;">
            <mat-form-field class="w-50">
                <mat-label class="text-primary">Search anything...</mat-label>
                <input matInput type="text" list="datalistOptions" id="exampleDataList" (change)="titleValue($any($event.target).value);" (keydown)="onFilter($event)" name="search" [(ngModel)]="searchText">
                <mat-icon matSuffix>search</mat-icon>
                <datalist id="datalistOptions">
                    <option value="A New Page" *ngFor="let s of searchResults" [value]="s.title">  
                </datalist>
              </mat-form-field> 
              <div *ngIf="sInput">
                <div>
                    <div class="row">
                        <div class="col-lg-6" *ngFor="let s of searchResults | filter: searchText">
                            <h4 class="text-primary">
                                <a href="">Poem Title</a> 
                                <br> 
                                <span><small class="col2">Jan 3, 2023 tagged Poetry Chains</small></span>
                                <br>
                                <span><img src="https://res.cloudinary.com/benie/image/upload/v1672678810/fantasy-gfba08a1e1_1920_v9uskp.jpg" height="60" width="120" alt=""></span>
                            </h4>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="text-primary">
                                <a href="">Poem Title</a> 
                                <br> 
                                <span><small class="col2">Jan 3, 2023 tagged Poetry Chains</small></span>
                                <br>
                                <span><img src="https://res.cloudinary.com/benie/image/upload/v1672678810/fantasy-gfba08a1e1_1920_v9uskp.jpg" height="60" width="120" alt=""></span>
                            </h4>
                        </div>
                    </div>
                </div>
              </div>
              <br><br>
        </div>
    </div>
</div>