/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center{
    display:inline-block;
    text-align:center;
}
.hover-img{
    transition: transform .6s ease;
}
.hover-img:hover{
    transform: scale(1.09);
    
}

#readBg, #readSBg, #reader, .dark{
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
}
#comments, #content-2, #search, #filter{
    color: whitesmoke;
}
#content,.content, #content-1, #sContent, #comment, #expansion, #content-2, #search, #filter{
    background-color: rgb(31, 39, 44);
}
input::placeholder{
    color:white;
}
a:hover, .poemTitle:hover{
    color: blueviolet;
}
.divide {
    display: flex;
    flex-direction: row;
}
.divide:before, .divide:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.divide:before {
    margin-right: 10px
}
.divide:after {
    margin-left: 10px
}
.col2{
    color:rgb(185, 121, 0)
}
.col1{
    color: blueviolet;
}