/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center{
    display:inline-block;
    text-align:center;
}
.hover-img{
    transition: transform .6s ease;
}
.hover-img:hover{
    transform: scale(1.09);
    
}

#readBg, #readSBg{
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
}
#content, #content-1, #sContent{
    background-color: rgb(31, 39, 44);
}
input::placeholder{
    color:white;
}

