<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <form #likeForm="ngForm" (ngSubmit)="(likeStory(likeForm.value))">
            <input type="text" name="like" ngModel class="hide" [(ngModel)]="liked">
            <input type="number" name="story" ngModel class="hide" [(ngModel)]="storyId">
            <button class="margin-md" mat-raised-button color="accent" type="submit"><i class="fa-regular fa-star"></i> Like <span class="xsm" class="col1">{{storyLikes.length}} likes</span></button> 
            &nbsp;&nbsp;&nbsp;
            <button class="margin-md" type="button" mat-raised-button color="accent" (click)="followBottomSheet()"><i class="fa-solid fa-user-plus"></i> Follow</button>
        </form> 
    </div>
    <div class="col-md-6">
        <form #commentForm="ngForm" (ngSubmit)="commentStory(commentForm.value)" (mouseover)="onKey($event)" (keydown)="onKey($event)" (keypress)="onKey($event)" (keyup)="onKey($event)">
            <mat-form-field appearance="fill">
                <mat-label class="bg-light" color="accent">Comment</mat-label>
                <input type="number" name="story" ngModel class="hide" [(ngModel)]="storyId">
                <textarea class="textarea" type="text" matInput ngModel name="comment"></textarea>
            </mat-form-field>
            <div *ngIf="!noInput">
                <mat-form-field>
                    <mat-label class="bg-light" color="accent">Name</mat-label>
                    <input name="commented_by" matInput ngModel type="text">
                </mat-form-field>
            </div>
            &nbsp;<button mat-raised-button color="accent" *ngIf="!noInput" type="submit">Add <i class="fa-regular fa-comment"></i></button>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>