<div class="text-center padding-lg" id="related">
    <h2>Related Poems</h2>
    <div class="row">
        <div class="col-lg-6" *ngFor="let tr of topRelated">
            <h4 class="text-primary">
                <a type="button" (click)="copy(tr.id);copyT(tr.category);copyT(tr.title);refresh()">{{tr.title}}</a> 
                <br> 
                <span class="smaller">
                    <small class="col2">
                        <a routerLink="/poems/related/date/{{tr.uploaded | date: 'YYYY-MM-dd'}}" class="col2">{{tr.uploaded | date}}</a> 
                        in 
                        <a routerLink="/poems/related/category/{{tr.category}}" class="col2">{{tr.category}}</a>
                    </small>
                </span>
                <br>
                <span><a type="button" (click)="copy(tr.id);copyT(tr.category);copyT(tr.title);refresh()"><img class="zoom max-width" id="cover" src="{{tr.cover}}" alt=""></a></span>
            </h4>
        </div>
    </div>
</div>