<div class="container-fluid" id="readBg">
    <div class="container-fluid">
        <span class="sticky-top top">
            <span>
                <button id="back" class="small btn btn-sm btn-dark col1" (click)="back()" type="button"><i class="fa-solid fa-angles-left"></i></button>
            </span> 
            &nbsp;
                <span>
                    <button id="toggle" class="small btn btn-sm btn-dark" style="color:blue;">
                        <span>
                            <span><i class="fa-solid fa-moon"></i></span>&nbsp;&nbsp;<span><mat-slide-toggle style="height:5px;" (click)="changeBg($event)"></mat-slide-toggle></span>&nbsp;&nbsp;<span style="color:orange;"><i class="fa-regular fa-lightbulb"></i></span>

                        </span>
                    </button>
                </span>
                <span class="float-right">
                    <button id="follow" class="small col1 btn btn-sm btn-dark" (click)="followBottomSheet()">
                        <i class="fa-solid fa-user-plus"></i>
                    </button>
                    &nbsp;
                    <button id="share" class="small col1 btn btn-sm btn-dark" (click)="openBottomSheet()">
                        <i class="fa-solid fa-share-nodes"></i>
                    </button>
                    &nbsp;
                </span>
        </span> 
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <div id="content">
                <div class="padding-lg height-auto">
                    <div>
                        <div>
                            <button *ngFor="let c of chaps" style="margin:1%;" mat-raised-button color="primary" (click)="copy(c.id);">{{c.title}}</button>
                        </div>
                    </div>
                    <div class="padding-md">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 text-center">
                                <img src="{{story.cover}}" class="max-width max-height shadow" alt="" priority>
                                <span>
                                    <button mat-flat-button color="accent" (click)="copy(firstChap.id)">Read</button>
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <small>
                                    <br>
                                    <h1 class="text-primary">{{story.title}} 
                                        <br> 
                                        <span class="col2">
                                            <h5 class="xsm"> 
                                                <span><i class="fa-regular fa-star"></i> {{storyLikes.length}}</span> 
                                                &nbsp;&nbsp; 
                                                <span><i class="fa-regular fa-comment"></i> {{storyComments.length}}</span> 
                                                &nbsp;&nbsp;
                                                <span><i class="fa-solid fa-layer-group"></i> {{chaps.length}}</span> 
                                                &nbsp;&nbsp; 
                                                <i class="fa-regular fa-clock"></i> <span *ngIf="!readHrs && !readSecs"> {{readTime}}</span> 
                                                <span *ngIf="!readSecs && readHrs"> {{readHrs}}</span> 
                                                <span *ngIf="!readHrs && readSecs"> {{readSecs}}</span>  
                                                &nbsp;&nbsp; 
                                                <span *ngIf="story.status == 'ongoing'">
                                                    <i><i class="fa-solid fa-spinner"></i>  <a routerLink="/stories/related/status/{{story.status}}" class="col2">{{story.status}}</a></i>
                                                </span> 
                                                <span *ngIf="story.status == 'completed'">
                                                    <i><i class="fa-regular fa-circle-check"></i> <a routerLink="/stories/related/status/{{story.status}}" class="col2">{{story.status}}</a></i>
                                                </span>
                                            </h5>
                                        </span>
                                    </h1>
                                    <p>
                                        <span>
                                            <p>{{story.description}}</p>
                                            <span>
                                                <mat-chip-list aria-label="Categories">
                                                    <mat-chip class="margin-md" color="primary" selected routerLink="/stories/related/genre/{{story.genre}}">{{story.genre}}</mat-chip>
                                                    &nbsp;&nbsp;
                                                    <mat-chip class="margin-md" color="primary" selected routerLink="/stories/related/category/{{story.category}}">{{story.category}}</mat-chip>
                                                </mat-chip-list>
                                            </span>
                                            <br>
                                            <span>
                                                <p class="sm">
                                                    <span>
                                                        <img src="https://res.cloudinary.com/benie/image/upload/v1667972682/h02js8etvetdr5ctbmtf.jpg" height="35" width="35" class="border-50" alt="">
                                                    </span> 
                                                    By 
                                                    <a routerLink="/about" class="col2">{{story.author}}</a> 
                                                    &nbsp;&nbsp;|&nbsp;&nbsp; 
                                                    <span>First published {{story.first_published | date}}</span>
                                                </p>
                                            </span>
                                            <hr>
                                            <span>
                                                <app-feedback [storyComments]="storyComments" [storyId]="storyId" [likeStory]="likeStory" [storyLikes]="storyLikes" [commentStory]="commentStory"></app-feedback>
                                            </span>
                                        </span>
                                    </p>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <br>
                        <app-comments [storyId]="storyId" [storyComments]="storyComments" [topComments]="topComments" [likeComment]="likeComment"  [commentId]="commentId"></app-comments> 
                   
    <br><br>
    
    
</div>

<app-story-footer></app-story-footer>