<div class="container-fluid" style="height:auto;min-height:100vh;padding:1.5%;" id="readBg">
<span>
    <mat-slide-toggle (click)="changeBg($event)" style="color:blueviolet;">Light<i class="fa-solid fa-arrows-left-right"></i>Dark</mat-slide-toggle> <span style="float:right;color:blueviolet;"><button mat-stroked-button color="primary"><i class="fa-solid fa-share-nodes"></i> Share</button></span>
</span>    <br><br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div >
                <br>
                <h1 class="text-center" style="font-family:'Courier New', Courier, monospace;font-size:xx-large;font-weight:bolder">Chapter heading <br> <span><h2>Tag Line</h2></span></h1>

                <mat-stepper class="shadow container" id="content" style="padding:5%;height:auto;font-size:large;font-family:'Courier New', Courier, monospace;line-height: 1.5em;">

                    <mat-step state="book">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, placeat! Dolores praesentium eius excepturi ab reprehenderit odio debitis, vitae molestias nihil beatae laudantium inventore ducimus nesciunt est libero magni sit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas aut impedit molestiae! Reprehenderit quibusdam ratione natus veritatis, impedit omnis minus nemo in ad accusamus totam, porro aperiam quod odit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error tenetur porro aliquid saepe quo minus, optio natus sapiente. Enim praesentium a quia amet aut quae laborum corporis ut aperiam possimus.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias maxime ea labore hic iste repudiandae suscipit praesentium ullam consequatur vitae, facere aperiam excepturi laboriosam odit aut esse nemo in.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda culpa sunt maxime, nam sapiente obcaecati facere quas earum vero, error similique doloribus et possimus qui atque praesentium ea consequuntur?</p>
                      <div>
                        <button mat-stroked-button color="primary" matStepperNext>Next</button>
                      </div>
                    </mat-step>
                    <mat-step state="book">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, placeat! Dolores praesentium eius excepturi ab reprehenderit odio debitis, vitae molestias nihil beatae laudantium inventore ducimus nesciunt est libero magni sit?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quas aut impedit molestiae! Reprehenderit quibusdam ratione natus veritatis, impedit omnis minus nemo in ad accusamus totam, porro aperiam quod odit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error tenetur porro aliquid saepe quo minus, optio natus sapiente. Enim praesentium a quia amet aut quae laborum corporis ut aperiam possimus.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias maxime ea labore hic iste repudiandae suscipit praesentium ullam consequatur vitae, facere aperiam excepturi laboriosam odit aut esse nemo in.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda culpa sunt maxime, nam sapiente obcaecati facere quas earum vero, error similique doloribus et possimus qui atque praesentium ea consequuntur?</p>
                      <div>
                        <button mat-stroked-button matStepperPrevious>Back</button>
                        <button mat-stroked-button color="primary" matStepperNext>Next</button>
                      </div>
                    </mat-step>
                    <mat-step state="book">
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-stroked-button matStepperPrevious>Back</button>
                      </div>
                    </mat-step>
                    <ng-template matStepperIcon="book">
                        <mat-icon><i class="fa-solid fa-book-open-reader"></i></mat-icon>
                      </ng-template>
                  </mat-stepper>
            </div>
            <br>
            <mat-chip-list aria-label="Tags" style="float:left;">
                <span style="font-size:smaller">Tags</span>
                <mat-chip color="primary" selected>Mystery</mat-chip>
                <mat-chip color="primary" selected>Thriller</mat-chip>
                <mat-chip color="primary" selected>Love</mat-chip>
                <mat-chip color="primary" selected>Life</mat-chip>
              </mat-chip-list>
              <br><br>
              <mat-chip-list aria-label="Categories" style="float:right;">
                <mat-chip color="accent" selected>Mystery</mat-chip>
                <mat-chip color="accent" selected>Thriller</mat-chip>
                <span style="font-size:smaller">Categories</span>
              </mat-chip-list>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br><br>

</div>