<div class="container">
    <h1 class="text-center">6 Stories are Live <i class="fa-solid fa-face-smile-beam"></i></h1>
    <br>
    <div class="row  shadow" style="padding:2.5%;overflow: hidden;background-color: white;">
        <div class="col-lg-6 disp" (mouseover)="onKey($event)" (mouseleave)="removeS($event)">
            <img class="hover-img responsive" src="https://res.cloudinary.com/benie/image/upload/v1670946050/njkpsmgymyl2ccjh57ih.png" style="max-width:100%;max-height:100%;" alt="">
        </div>
        <div class="col-lg-6 disp" id="myDiv">
            <h3>Story title here  <br> <span><small class="text-muted"><span><i class="fa-solid fa-star"></i> 5</span> | <span><i class="fa-solid fa-eye"></i> views</span> | <span>5 parts</span></small></span></h3>
            
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur omnis necessitatibus saepe tenetur cumque magni tempora a. Rerum aspernatur voluptate quis fuga in, natus et asperiores, aut quas, perferendis temporibus.</p>
            <br>
            <span><button mat-raised-button color="accent" class="w-50">Read</button></span>
        </div>
    </div>
</div>