#about-img{
    max-height:300px;
    max-width:100%;
}
#authorImg{
    max-height:250px;
    color:azure;
    color:burlywood;
}
.linear{
    background-image: linear-gradient(rgb(255, 255, 255),whitesmoke);
}
