<div class="container">
    <div class="row g-0">
        <div class="col-md-4">
            <br>
            <h1 style="color:blueviolet">Benie Writes <br> <h5>With words, I give my thoughts life.</h5></h1>
            
            <br>
            <p>I was born Benson Kipngeno. I am a software developer and passionate writer. I enjoy the challenge in chess and love how swimming feels. I love art, music, and anything that makes the heart tick. </p>
            <p>I write from the depths of the heart.</p>
            <p>To connect with you, to talk about life and the things that matter; to talk about genuine feelings and the state of things.</p>
            <p>Stories are divine. They are true. They are life. And as I bleed through my ink, I want you to see what comes out.</p>
            <p>Join me through this journey--it never ends.</p>
        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/benie/image/upload/v1670974359/undraw_reading_book_re_kqpk_y5d2ju.svg" style="max-height:100%;max-width:100%;" alt="">
        </div>
        <div class="col-md-4">
            <div style="padding:5%;margin:2.5%;">
                <form #subForm="ngForm" class="shadow" (ngSubmit)="subscribe(subForm.value)">
                    <h1 style="color:blueviolet" class=" text-center">Monthly Newsletter <br> <span><h5>Never miss a story.</h5></span></h1>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput name="name" placeholder="Enter your name..." ngModel #name="ngModel" required>
                                <mat-hint>e.g Jay Kay</mat-hint>
                                <mat-error *ngIf="name.hasError('required') || name.pristine">
                                    Your name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            &nbsp;&nbsp;&nbsp;
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput name="email" placeholder="Enter email address..." ngModel #email="ngModel" required>
                                <mat-hint>e.g username@email.com</mat-hint>
                                <mat-error *ngIf="email.hasError('required') || email.pristine">
                                    Your email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <br><br>
                            <button mat-raised-button color="accent" class="w-100" [disabled]="subForm.invalid"><i class="fa-solid fa-user-plus"></i> Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <a href="https://facebook.com/"><button mat-raised-button color="primary"><i class="fa-brands fa-facebook-f"></i></button></a> &nbsp;&nbsp;&nbsp; <a href="https://twitter.com/share?text={{currentSite}} - Benie Writes- with words, I give my thoughts life." target="_blank"><button mat-raised-button color="primary"><i class="fa-brands fa-twitter"></i></button></a> &nbsp;&nbsp;&nbsp; <a href="https://www.linkedin.com/"><button mat-raised-button color="primary"><i class="fa-brands fa-linkedin-in"></i></button></a> &nbsp;&nbsp;&nbsp; <a href="https://instagram.com/"><button mat-raised-button color="primary"><i class="fa-brands fa-instagram"></i></button></a> &nbsp;&nbsp;&nbsp; <a href="whatsapp://send?text={{currentSite}} - Benie Writes- with words, I give my thoughts life." data-action="share/whatsapp/share" target="_blank"><button mat-raised-button color="primary"><i class="fa-brands fa-whatsapp"></i></button></a> 
    <br><br>
</div>