
<!-- <app-nav></app-nav> -->
<div class="container-fluid" style="padding:1.5%;">
    <div class="row">
        <h1 class="text-center">All Poems</h1>
        <div class="col-lg-6" *ngFor="let p of poems">
            <span class="divide col2">published &nbsp;<a href="" class="col2">{{p.uploaded | date}}</a> &nbsp;&nbsp; in &nbsp;<a href="" class="col2">{{p.category}}</a></span>
            <h1 class="text-primary"><a routerLink="/poems/read/{{p.id}}">{{p.title}}</a></h1>
            <p>{{p.excerpt}}</p>
            <img src="{{p.cover}}" width="100%" style="min-height:200px;max-height:540px;" alt="">
            <br><br><br><br>
        </div>
    </div>
    <br><br>
    
</div>
<div class="content" style="padding:1.5%;">
    <app-search></app-search>
</div>
<app-footer></app-footer>