<app-nav [poems]="allPoems"></app-nav>
<div class="row shadow" *ngIf="poems.length">
    <div class="col-lg-8">
        <img src="{{pinned.cover}}" id="pinned" class=" w-100" alt="">
    </div>
    <div class="col-lg-4 bg-light">
        <div class="padding-lg">
            <br>
            <span *ngIf="pinned">
                <h1 class="col1" id="featuredTitle"><a routerLink="/poems/{{pinned.category}}/{{pinned.title}}/read/{{pinned.id}}">{{pinned.title}}</a> <br> <span class="col2 xsm">{{pinned.uploaded | date}}</span></h1>
                <p [innerHTML]="pinned.description | truncate:[460, '...']"></p>
            </span>
        </div>
    </div>
    <br>
</div>
<div class="container-fluid padding-xxl">
    <br>
    <div *ngIf="!poems.length" class="shadow padding-xxl" style="background-color:white;;"> 
        <h1 class="text-center col1">No Poems Posted Yet</h1>
    </div>
    <div *ngIf="poems.length">
        <h1 class="text-center col1">Latest Poems</h1>
        <div class="row">
            <div class="col-lg-6" *ngFor="let p of poems">
                <div class="card mb-3">
                    <div class="text-center" >
                        <h2 class="f-sm card-title text-center zoom poemTitle"> 
                            <a routerLink="/poems/{{p.category}}/{{p.title}}/read/{{p.id}}">
                                <img class="img-fluid card-img-top rounded-start shadow pic" src="{{p.cover}}"  alt="" priority> 
                                {{p.title}}
                            </a> 
                        </h2>
                        <p class="card-text"> {{p.excerpt | truncate:[350, '...']}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <span class="col2 xsm">
                            <a routerLink="/poems/related/date/{{p.uploaded|date: 'YYYY-MM-dd'}}" class="col2">{{p.uploaded | date}}</a> 
                            by <a routerLink="/about" class="col2">Benson Langat</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
                            <a routerLink="/poems/related/category/{{p.category}}" class="col2">{{p.category}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <button mat-raised-button class="w-75" color="primary" [routerLink]="'/poems/all'">{{count}} more poem(s)</button>
        </div>
    </div>
</div>
<app-poem-footer></app-poem-footer>