<div>
    <div class="row" style="padding:1.5%;" id="comment">
        <span class="text-center"><h3>10 Comments</h3></span>
        <div class="col-md-6">
            <span class="divide col2">2 seconds ago &nbsp;&nbsp; | &nbsp;&nbsp; <span><i class="fa-regular fa-circle-user"></i></span> &nbsp;Anonymous</span> 
            <p style="font-size:small;margin:1.5%;padding:1.5%;"><span style="font-size:smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, odio voluptatibus? Enim quod tempore est quas, delectus atque nemo in consectetur nesciunt temporibus, tenetur nihil, magnam saepe suscipit recusandae tempora. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et ipsam laboriosam animi provident mollitia, dignissimos ullam molestias eius accusantium, repellat, id consequatur cum quas voluptates fuga omnis eum minima vitae.</span> </p>
        </div>
        <div class="col-md-6">
            <span class="divide col2">2 seconds ago &nbsp;&nbsp; | &nbsp;&nbsp; <span><i class="fa-regular fa-circle-user"></i></span> &nbsp;Anonymous</span> 
            <p class="content" style="font-size:small;margin:1.5%;padding:1.5%;"><span style="font-size:smaller;">Beautiful poem!</span> </p>
        </div>
        <mat-accordion>
            <mat-expansion-panel id="expansion" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title style="color:blueviolet;">
            View all
          </mat-panel-title>
          <mat-panel-description style="color:blueviolet;">
           10 comments
          </mat-panel-description>
          </mat-expansion-panel-header>
            <div class="row" id="comments">
                <div class="col-md-6">
                    <p class="shadow" style="font-size:small;margin:1.5%;padding:1.5%;"><span style="font-size:smaller;" class="col2">2 seconds ago &nbsp;&nbsp; | &nbsp;&nbsp; <i class="fa-regular fa-circle-user"></i> &nbsp;Anonymous<br></span><span>Beautiful poem!</span> </p>
                </div>
                <div class="col-md-6">
                    <p class="shadow" style="font-size:small;margin:1.5%;padding:1.5%;"><span style="font-size:smaller;" class="col2">2 seconds ago &nbsp;&nbsp; | &nbsp;&nbsp; <i class="fa-regular fa-circle-user"></i> &nbsp;Anonymous<br></span> <span>Beautiful poem!</span> </p>
                </div>
              </div>
          
          </mat-expansion-panel>
          </mat-accordion>                  
                            
    </div>
    
</div>