<div id="content-2" style="padding:1.5%;">
    <h2 class="text-center">Recent Posts</h2>
    <div class="row">
        <div class="col-lg-6">
            <h4 class="text-primary">
                <a href="">Poem Title Here; It Could Be Long</a> 
                <br> 
                <span><small class="col2">Jan 3, 2023 tagged Poetry Chains</small></span>
                <br>
                <span><img src="https://res.cloudinary.com/benie/image/upload/v1672678810/fantasy-gfba08a1e1_1920_v9uskp.jpg" height="60" width="120" alt=""></span>
            </h4>
        </div>
        <div class="col-lg-6">
            <h4 class="text-primary">
                <a href="">Poem Title</a> 
                <br> 
                <span><small class="col2">Jan 3, 2023 tagged Poetry Chains</small></span>
                <br>
                <span><img src="https://res.cloudinary.com/benie/image/upload/v1672678810/fantasy-gfba08a1e1_1920_v9uskp.jpg" height="60" width="120" alt=""></span>
            </h4>
        </div>
    </div>
</div>