<div class="text-center padding-lg" id="recent">
    <h2>Recent Posts</h2>
    <div class="row">
        <div class="col-lg-6" *ngFor="let p of poems">
            <h4 class="text-primary">
                <a type="button" (click)="copy(p.id);;copyC(p.category);copyT(p.title);refresh()">{{p.title}}</a> 
                <br> 
                <span class="smaller">
                    <small class="col2">
                        <a routerLink="/poems/related/date/{{p.uploaded | date: 'YYYY-MM-dd'}}" class="col2">{{p.uploaded | date}}</a> 
                        in 
                        <a routerLink="/poems/related/category/{{p.category}}" class="col2">{{p.category}}</a>
                    </small>
                </span>
                <br>
                <span>
                    <a type="button" (click)="copy(p.id);copyC(p.category);copyT(p.title);refresh()">
                        <img class="zoom max-width" id="cover" src="{{p.cover}}" alt="">
                    </a>
                </span>
            </h4>
        </div>
    </div>
</div>