<div class="container-fluid" id="readBg">
    <span class="sticky-top top">
        <span>
            <button id="back" class="small btn btn-sm btn-dark col1" (click)="back()" type="button"><i class="fa-solid fa-angles-left"></i></button>
        </span> 
        &nbsp;
            <span>
                <button id="toggle" class="small btn btn-sm btn-dark" style="color:blue;">
                    <span>
                        <span><i class="fa-solid fa-moon"></i></span>&nbsp;&nbsp;<span><mat-slide-toggle style="height:5px;" (click)="changeBg($event)"></mat-slide-toggle></span>&nbsp;&nbsp;<span style="color:orange;"><i class="fa-regular fa-lightbulb"></i></span>

                    </span>
                </button>
            </span>
            <span class="float-right">
                <button id="follow" class="small col1 btn btn-sm btn-dark" (click)="followBottomSheet()">
                    <i class="fa-solid fa-user-plus"></i>
                </button>
                &nbsp;
                <button id="share" class="small col1 btn btn-sm btn-dark" (click)="openBottomSheet()">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>
                &nbsp;
            </span>
    </span> 
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <div id="content">
                <small class="xxsm">
                    <a href="{{details.cover_source}}" target="_blank">Photo Source</a>
                </small>
                <br><br>
                <img src="{{details.cover}}" class="img-fluid mb-3 max-width" id="cover" alt="">
            

            <div class="padding-xxl">
                <h1 class="text-primary">{{details.title}}
                    <span>
                        <h4>
                            <span class="col2">
                                <small> 
                                    <span><i class="fa-regular fa-star"></i> {{likes.length}}</span> 
                                    &nbsp;&nbsp; 
                                    <span><i class="fa-regular fa-comment"></i> {{comments.length}}</span> 
                                    &nbsp;&nbsp; 
                                    <i class="fa-regular fa-clock"></i> {{readTime}}  
                                    &nbsp;&nbsp; 
                                </small>
                            </span>
                        </h4>
                    </span>
                </h1>
                
                <br>
                <p class="myReader md" [innerHTML]="details.description"></p>
                <p>
                    <span>
                        <small class="col2">
                            published <a class="col2" routerLink="/poems/related/date/{{details.uploaded | date: 'YYYY-MM-dd'}}">{{details.uploaded | date }}</a> 
                            by <a class="col2" routerLink="/about">Benie Langat <img src="{{authorImg}}" class="border-50" height="20px" width="20px" alt=""></a> 
                            in <a class="col2" routerLink="/poems/related/category/{{details.category}}">{{details.category}}</a>
                        </small>
                    </span>
                </p>
            </div>
            <br>
            <hr class="w-50">
            <small>
                <app-feedback [comments]="comments" [poemId]="poemId" [likes]="likes" [likePoem]="likePoem" [commentPoem]="commentPoem"></app-feedback>
            </small>
        </div>
        <div class="col-lg-2"></div>  
    </div>
    
    <span>
        <br><br>
        <div class="row">
            <div class="col-lg-6">
                <app-related [topRelated]="topRelated"></app-related>
                <br>
            </div>
            <div class="col-lg-6">
                <app-recent [poems]="poems"></app-recent>
            </div>
        </div>
    </span>
    <br>
    <div class="container-fluid">
        <small>
            <span>
                <app-comments [poemId]="poemId" [trackByFn]="trackByFn" [comments]="comments" [topComments]="topComments" [likeComment]="likeComment" [replyComment]="replyComment"></app-comments>
            </span>
        </small> 
    </div>
    <br><br>
    <div class="container-fluid">
        <app-search></app-search>
    </div>
    <br><br><br><br>
</div>
<app-poem-footer></app-poem-footer>

