<div class="container-fluid">
  <div class="text-center">
    <mat-form-field class="w-50">
      <input matInput type="text" placeholder="Search anything..." list="datalistOptions" id="exampleDataList" (change)="titleValue($any($event.target).value)" name="search" [(ngModel)]="searchText">
      <mat-icon matSuffix>search</mat-icon>
      <datalist id="datalistOptions">
        <option value="Lomayo" *ngFor="let s of searchResults" [value]="s.title">  
      </datalist>
    </mat-form-field> 
  </div>
  <div class="row">
    <div class="col-sm-6" *ngFor="let s of searchResults | filter: searchText">
      <div class="card mb-3 storyCard">
        <div class="text-center" >
          <img class="img-fluid rounded-start shadow float-left cardImg" (mouseover)="onKey($event)" (mouseleave)="removeS($event)" src="{{s.cover}}"  alt="" priority>
          <h3 class="card-title text-center">{{s.title}}  
          <br> 
          <span class="smaller text-muted">  <span class="col1"><i><i class="fa-solid fa-spinner"></i> {{s.status}}</i></span></span>
          </h3>
          <div class="card-body">
            <p class="card-text">{{s.description | truncate:[265, '...']}}</p>
            <p class="card-text"><small><span><button mat-raised-button color="accent" class="w-25" routerLink="/stories/{{s.title}}/{{s.id}}">Read</button></span></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <i class="text-center col1">Stay tuned for more!</i>
</div>