<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
            <div id="htmlDiv" class="html" [innerHTML]="htmlContent">
     {{htmlContent}}
            </div>
            <input type="text" [innerHTML]="htmlContent">
            <div class="html">
              {{htmlContentWithoutStyles}}
           </div>
            <form [formGroup]="chapterForm" class="bg-light rounded padding-2" (ngSubmit)="editItem(chapterForm.value)" id="chapterForm">
              <h2>Edit {{details.title}} Details <span class="text-success"><i class="fa-solid fa-hashtag"></i> {{details.id}}</span></h2>  
              
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title" ngModel [(ngModel)]="details.title" required>
                <!-- <mat-error *ngIf="title.hasError('required') || title.pristine">
                    Title is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
              <br>

            
              <!-- <mat-form-field class="w-75" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput type="text" formControlName="description" ngModel [(ngModel)]="details.description" required></textarea> -->
                <!-- <mat-error *ngIf="title.hasError('required') || title.pristine">
                    Title is <strong>required</strong>
                </mat-error> -->
              <!-- </mat-form-field> -->

              <mat-form-field class="w-75" appearance="fill">
                <mat-label>First published </mat-label>
                  <input matInput type="text" formControlName="first_published" ngModel required [(ngModel)]="details.first_published">
                  <!-- <mat-error *ngIf="first_published.hasError('required') || first_published.pristine">
                    This field is <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>


              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Story (currently: ID {{details.story}}</mat-label>
                <select matNativeControl required formControlName="story">
                  <option *ngFor="let s of stories" value="{{s.id}}" ngMode type="number">{{s.id}}. {{s.title}}</option>
                </select>
                <!-- <mat-select formControlName="chapter" [(value)]="picked" ngModel required>
                    <mat-option *ngFor="let s of stories" value="{{s.id}}" ngMode type="number">{{s.id}}. {{s.title}}</mat-option>
                  </mat-select> -->
                  <!-- <mat-error *ngIf="chapter.hasError('required') || chapter.pristine">
                    This field is <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>

             


              
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="chapterForm.invalid" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" [disabled]="chapterForm.invalid">Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"  [disabled]="chapterForm.invalid" (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>